<div class='beer-main-content'>
  <div class="beer-image">
    <img height='100' src='{{image_url}}' alt='' />
  </div>
  <div class="beer-details">
    <a href='/specific-beer'>{{name}}</a>
    <p class="tagline">{{tagline}}</p>
    <p>{{description}}</p>
  </div>
</div>